@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-shark-50: #fafafa;
  --color-shark-100: #f4f4f5;
  --color-shark-200: #e4e5e7;
  --color-shark-300: #d3d5d9;
  --color-shark-400: #a0a4ab;
  --color-shark-500: #70747b;
  --color-shark-600: #51555c;
  --color-shark-700: #3e4247;
  --color-shark-800: #27282a;
  --color-shark-900: #1e2023;
  --color-shark-950: #090a0b;
  --color-woodsmoke-50: #fafafa;
  --color-woodsmoke-100: #f5f5f5;
  --color-woodsmoke-200: #e6e6e6;
  --color-woodsmoke-300: #d3d3d3;
  --color-woodsmoke-400: #a3a3a3;
  --color-woodsmoke-500: #727272;
  --color-woodsmoke-600: #535353;
  --color-woodsmoke-700: #404040;
  --color-woodsmoke-800: #272727;
  --color-woodsmoke-900: #141414;
  --color-woodsmoke-950: #0b0b0b;
  --color-fuchsia-blue-50: #faf6fe;
  --color-fuchsia-blue-100: #f3eafd;
  --color-fuchsia-blue-200: #ead9fb;
  --color-fuchsia-blue-300: #d9bcf6;
  --color-fuchsia-blue-400: #c191ef;
  --color-fuchsia-blue-500: #a966e6;
  --color-fuchsia-blue-600: #9549d7;
  --color-fuchsia-blue-700: #7e34bc;
  --color-fuchsia-blue-800: #6b2f9a;
  --color-fuchsia-blue-900: #58277c;
  --color-fuchsia-blue-950: #3b115a;
}
